@model IEnumerable<UltraPioner.Models.ViewModels.AdminTableModel>
@{
	Layout = "_LayoutAdmin";
	ViewData["Title"] = "Player Home Page";
}

<link rel="stylesheet" href="~/css/styleTable.css" asp-append-version="true" />
<script src="~/js/table.js" asp-append-version="true"></script>

<div class="height-100">
	<section class="table Users">
		<h1>Список пользователей</h1>
		<div class="tbl-header-users">
			<table class="tbl-users" cellpadding="0" cellspacing="0" border="0">
				<thead>
					<tr>
						<th>
							Имя пользователя
						</th>
						<th>
							Роль
						</th>
						<th>
							Должность
						</th>
						<th>
							Логин
						</th>
						<th>
							Телефон
						</th>
						<th>
							Почта
						</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var user in Model)
					{
						<tr>
							<td>@user.Name</td>
							<td>@user.RoleName</td>
							<td>@user.Discription</td>
							<td>@user.Login</td>
							<td>@user.Email</td>
							<td>@user.Phone</td>
							<td>
								<form asp-controller="Admin" asp-action="Delete" method="post">
									<input type="hidden" name="id" value="@user.Id" />
									<button type="submit" class="btn btn-danger">Delete</button>
								</form>
							</td>
						</tr>
					}
				</tbody>

			</table>
		</div>


		@* <h1>Информация об игроках</h1>
		<div class="tbl-header-record">
			<table class="tbl-record" cellpadding="0" cellspacing="0" border="0">
				<thead>
					<tr>
						<th>
							Имя пользователя
						</th>
						<th>
							Должность
						</th>
						<th>
							Рост
						</th>
						<th>
							Вес
						</th>
						<th>
							Хват
						</th>
						<th>
							Достижения
						</th>

					</tr>
				</thead>
				<tbody>
				</tbody>

			</table>
		</div> *@



	</section>



	</section>
</div>