@model IEnumerable<UltraPioner.Models.ViewModels.RecordModel>
@{
	Layout = "_LayoutPlayer";
	ViewData["Title"] = "Player Home Page";
}
<link rel="stylesheet" href="~/css/styleTable.css" asp-append-version="true" />
<script src="~/js/table.js" asp-append-version="true"></script>

<section>
	<div class="height-100">
		<h1>Рекорды за всё время</h1>
		<div class="tbl-header">
			<table cellpadding ="0" cellspacing="0" border="0">
				<thead>
					<tr>
						<th>
							Name
						</th>
						<th>
							@Html.DisplayNameFor(model => model.StandartName)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.StandartResult)
						</th>

					</tr>
				</thead>
				<tbody>
					@foreach (var record in ViewBag.BestRecord)
					{
						<tr>
							<td>@record.Name</td>
							<td>@record.StandartName</td>
							<td><center>@record.StandartResult</center></td>
						</tr>
					}
				</tbody>
	
			</table>
		</div>

		<h1>@User.Identity.Name</h1>
		<h1>Мои результаты</h1>
		<div class="tbl-header">
			<table cellpadding="0" cellspacing="0" border="0">
				<thead>
					<tr>
						<th>
							Норматив
						</th>
						<th>
							Результат
						</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var result in ViewBag.UserStandardsResults)
					{
						
						<tr>
							<td>@result.StandartName</td>
							<td><center>@result.StandartResult</center></td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</section>


