@model IEnumerable<UltraPioner.Models.ViewModels.RecordModel>
@{
	Layout = "_LayoutPlayer";
	ViewData["Title"] = "Player Home Page";
}
<link rel="stylesheet" href="~/css/styleTable.css" asp-append-version="true" />
<script src="~/js/table.js" asp-append-version="true"></script>

<div class="height-100">
	<section class="table Record">
		<h1>Рекорды за всё время</h1>
		<div class="tbl-header-record">
			<table class="tbl-record" cellpadding="0" cellspacing="0" border="0">
				<thead>
					<tr>
						<th>
							Имя
						</th>
						<th>
							Норматив
						</th>
						<th>
							Результат
						</th>

					</tr>
				</thead>
				<tbody>
					@foreach (var record in ViewBag.BestRecord)
					{
						<tr>
							<td>@record.Name</td>
							<td>@record.StandartName</td>
							<td><center>@record.StandartResult</center></td>
						</tr>
					}
				</tbody>
	
			</table>
		</div>
	</section>

	<section class="table myResult">
		<h1>Мои лучшие результаты</h1>
		<div class="tbl-header-myResult">
			<table class="tbl-myResult" cellpadding="0" cellspacing="0" border="0">
				<thead>
					<tr>
						<th>
							Норматив
						</th>
						<th>
							Результат
						</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var result in ViewBag.UserStandardsResults)
					{
						
						<tr>
							<td>@result.StandartName</td>
							<td><center>@result.StandartResult</center></td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	
	</section>
</div>


