@model IEnumerable<UltraPioner.Models.ViewModels.RecordModel>
@{
	Layout = "_LayoutPlayer";
	ViewData["Title"] = "Player Home Page";
}
<link rel="stylesheet" href="~/css/styleTable.css" asp-append-version="true" />
<section>
	<div class="height-100">
		<h1>Рекорды за всё время</h1>
		<div class="tbl-header">
			<table cellpadding ="0" cellspacing="0" border="0">
				<thead>
					<tr>
						<th>
							Name
						</th>
						<th>
							@Html.DisplayNameFor(model => model.StandartName)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.StandartResult)
						</th>

					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr>
							<td>@item.Name</td>
							<td>@item.StandartName</td>
							<td><center>@item.StandartResult</center></td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</section>
<script src="~/js/table.js" asp-append-version="true"></script>

