@model IList<IGrouping<string, UltraPioner.Models.DataBase.Entities.Standart>>
@{
	Layout = "_LayoutPlayer";
	ViewData["Title"] = "Player Home Page";
}

<div class="height-100">
	<h2>Список пользователей</h2>

	<table class="table">
		<thead>
			<tr>
				<th>
					@* @Html.DisplayNameFor(model => model.StandartName) *@
				</th>
				<th>
					@* @Html.DisplayNameFor(model => model.StandartResult) *@
				</th>
				@* 				<th>
				RoleName
				</th> *@
				<th>
					Player
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>@item.</td>
					<td>@item.StandartResult</td>
					@* <td>@item.Role.RoleName</td> *@
					<td>
						@item.Profile.PersonalData.Name
						@* 						@foreach(var s in item.Profile.Standarts)
					{
					<dl>
					<dt>@s.StandartName</dt>
					<dd>@s.StandartResult</dd>
					</dl>
					} *@
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>



